<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Formulario</title>
</head>    
    
    
  <body>
    <header class=" u-header">
      <img th:src="@{/img/logo-de-Sena-sin-fondo-Blanco.png}" class="u-logo-image">
        <p class="u-text-1">CENTRO DE GESTIÓN DE MERCADOS LOGÍSTICA Y TECNOLOGÍAS DE LA INFORMACIÓN</p>
    </header>

    <section class="u-section">
      <div class="u-sheet">
        <h1 th:text="${accion}"></h1>
        <div class="u-form-1">
          <form th:action="@{/usuario/add}" th:object="${usuario}" method="post" class="u-inner-form" >
            
            <div class="u-form-group-1"> 
              <label form="Rol.IdRol" class="u-label">Rol</label>
              
              <select name="Rol.IdRol" id="Rol.IdRol">

                <option value="1">Aprendiz</option>
                <option value="2">Funcionario</option>
                <option value="3">Invitado</option>

              </select>
            </div>  
          <div class="u-form-group-1">
              <label form="nombre" class="u-label">Nombre </label>
              <input type="text" class="u-input" placeholder="Ingresa el nombre" id="nombre" th:field="*{nombre}">
              <div class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>

            <div class="u-form-group-1">
              <label form="apellido" class="u-label">Apellido</label>
              <input type="text" placeholder="Ingresa el apellido" class="u-input" id="apellido" th:field="*{apellido}">
              <div class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
            </div>

            <div class="u-form-group-1"> 
              <label form="documento" class="u-label">Documento</label>
              <input type="text" placeholder="Ingresa el documento" class="u-input" id="documento" th:field="*{documento}">
              <div class="form-text text-danger" th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"></div>
            </div> 

            <div class="u-form-group-1"> 
              <label form="telefono" class="u-label">Telefono</label>
              <input type="text" placeholder="Ingresa el telefono"  class="u-input" id="telefono" th:field="*{telefono}">
              <div class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
            </div>

            <div class="u-form-group-1"> 
              <label form="proveniente" class="u-label">Proveniente</label>
              <input type="text" placeholder="¿De donde proviene? (SOLO PARA INVITADOS)" class="u-input" id="proveniente" th:field="*{proveniente}">
              <div class="form-text text-danger" th:if="${#fields.hasErrors('proveniente')}" th:errors="*{proveniente}"></div>
            </div>

            <div class="u-form-group-1"> 
              <input type="checkbox" name="estado" value="1" checked th:field="*{estado}">Activo
              </div>                 

              <button class="u-btn-submit2" type="submit">Enviar</button>
            
          </form>
          <button class="u-btn-submit"><a th:href="@{/usuario/listar}">Volver al Listado</a></button>
        </div>
      </div>
    </section>
    
    
    <footer class="u-footer">
      <div class=" u-sheet-1">
      <br>
      <p class="u-text-3">W W W . s e n a . e d u . co</p>
      </div>
    </footer>
    </body>
</html>
