<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" th:href="@{/img/logo-de-Sena-sin-fondo-Blanco.png}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/formularios/formularios.css}">
  <link rel="stylesheet" th:href="@{/css/header/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer/footer2.css}">
  <title>Formulario</title>
</head>
<body>
<header class=" u-header">
  <img th:src="@{/img/logo-de-Sena-sin-fondo-Blanco.png}" class="u-logo-image">
  <p class="u-text-1">SMARTPARK</p>
</header>


<!-- NAVEGAVILIDAD -->

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" th:href="@{/Usuario/listar}">ATRAS</a>
      </li>

    </ul>
  </div>
</nav>

  
<br><br>

<center>
    <div id="formContent" class="p-4">
        <h2 class="active mb-4">Registro de usuarios</h2>

      <form th:action="@{/Usuario/add}" th:object="${usuario}" method="post" class="mt-4" >

        <div class="form-group">
          <label form="Rol.IdRol"><b>Rol</b></label>

          <select name="Rol.IdRol" id="Rol.IdRol" class="form-control" th:field="*{Rol.IdRol}">

            <option value="1">Aprendiz</option>
            <option value="2">Funcionario</option>
            <option value="3">Invitado</option>

          </select>
        </div>

<br>

        <div class="form-group">
          <label form="nombre"><b>Nombre</b></label>
          <input type="text" class="form-control" placeholder="Ingresa el nombre" id="nombre" name="nombre" th:field="*{nombre}">
          <div class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>

<br>

        <div class="form-group">
          <label form="apellido"><b>Apellido</b></label>
          <input type="text" placeholder="Ingresa el apellido" class="form-control" id="apellido" name="apellido" th:field="*{apellido}">
          <div class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
        </div>

<br>

        <div class="form-group">
          <label form="documento"><b>Documento</b></label>
          <input type="text" placeholder="Ingresa el documento" class="form-control" id="documento" name="documento" th:field="*{documento}">
          <div class="form-text text-danger" th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}"></div>
        </div>

<br>

        <div class="form-group">
          <label form="telefono"><b>Telefono</b></label>
          <input type="text" placeholder="Ingresa el telefono"  class="form-control" id="telefono" name="telefono" th:field="*{telefono}">
          <div class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
        </div>

<br>

        <div class="form-group">
          <label form="proveniente"><b>Proveniente</b></label>
          <input type="text" placeholder="¿De donde proviene? (SOLO PARA INVITADOS)" class="form-control" id="proveniente" name="proveniente" th:field="*{proveniente}">
          <div class="form-text text-danger" th:if="${#fields.hasErrors('proveniente')}" th:errors="*{proveniente}"></div>
        </div>

<br>

        <div class="form-group">
          <label form="proveniente"><b>Activo</b></label>
          <br>
          <input type="checkbox" name="estado" value="1" checked>
        </div>

<br>

        <button class="btn btn-success mt-3 boton" type="submit">Enviar</button>

      </form>
    </div>
</center>

<br><br>

<footer class="u-footer">
  <div class=" u-sheet-1">
    <br>
    <p class="u-text-3">W W W . s e n a . e d u . co</p>
  </div>
</footer>
 </body>
</html>