<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/logo-de-Sena-sin-fondo-Blanco.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Lista Movimientos</title>
</head>
<body>

<header class=" u-header">
    <img th:src="@{/img/logo-de-Sena-sin-fondo-Blanco.png}" class="u-logo-image">
    <p class="u-text-1">CENTRO DE GESTIÓN DE MERCADOS LOGÍSTICA Y TECNOLOGÍAS DE LA INFORMACIÓN</p>
</header>
<div class="alert alert-success alert-dismissable" th:if="${success != null}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span th:text="${success}"></span>
</div>

<!-- NAVEGAVILIDAD -->

<nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/Usuario/listar}">ATRAS</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/menu}">VOLVER AL MENU</a>
            </li>




            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <h1 th:text="${'Movimientos de '+ nombre  }"></h1>


    <table id="datat">


        <thead >

        <th>ID MOVIMIENTO</th>
        <th>PERSONA</th>
        <th>DOCUMENTO</th>
        <th>FECHA</th>
        <th>HORA ENTRADA</th>
        <th>PLACA VEHICULO</th>
        <th>HORA SALIDA</th>

        <th>OBSERVACIONES</th>
        <th>SALIDA</th>
        <th>DETALLES DE EQUIPOS</th>


        </thead>
        <tbody>
        <tr th:if="${movimiento.isEmpty()}">
            <td colspan="10" align="center">No hay movimientos recientes de la persona.</td>
        </tr>

        <tr th:each="m:${movimiento}" if(m.documento.documento == documento)>

            <td th:text="${m.IdMovimiento}"></td>

            <td>
                <span th:text="${m.documento.nombre}"></span>
                <span th:text="${m.documento.apellido}"></span>
            </td>

            <td th:text="${m.documento.documento}"></td>

            <td>
                <span th:text="${m.fecha}"></span>
            </td>
            <td th:text="${m.horaEntrada}"></td>
            <td th:text="${m.vehiculo.placa}"></td>
            <td th:if="${m.HoraSalida == null}"><p>No ha salido</p></td>
            <td th:if="${m.HoraSalida != null}"><p th:text="${m.HoraSalida}"></p></td>
            <td th:text="${m.Observaciones}"></td>


            <td align="center">
                <a role="button" class="btn btn-success" th:href="@{/Movimiento/salida(IdMovimiento=${m.IdMovimiento})}">

                    <i class="bi bi-box-arrow-in-right"></i>
                </a>

            </td>

            <td align="center">
                <a role="button" class="btn btn-success" th:href="@{/Movimiento/listarEquipoMovimientoUsuario(documento=${m.documento.documento})}">
                    <i class="bi bi-laptop"></i>
                </a>

            </td>


        </tr>
        </tbody>
    </table>
</div>
<script>

    var datat=document.querySelector("#datat");
    var dataTable=new DataTable("#datat",{
        perPage:10,
        labels: {
            placeholder: "Busca por un campo...",
            perPage: "{select} registros por página",
            noRows: "No se encontraron registros",
            info: "Mostrando {start} a {end} de {rows} registros",
        }
    } ) ;

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<footer class="u-footer">
    <div class=" u-sheet-1">
        <br>
        <p class="u-text-3">W W W . s e n a . e d u . co</p>
    </div>
</footer>

</body>

</html>