<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/estilos.css}">
  <link rel="icon" th:href="@{/img/logo-de-Sena-sin-fondo-Blanco.png}">
  <title>Formulario</title>
</head>    
    
    
  <body>
    <header class=" u-header">
      <img th:src="@{/img/logo-de-Sena-sin-fondo-Blanco.png}" class="u-logo-image">
        <p class="u-text-1">CENTRO DE GESTIÓN DE MERCADOS LOGÍSTICA Y TECNOLOGÍAS DE LA INFORMACIÓN</p>
    </header>

    <section class="u-section-1">
      <div class="u-sheet-1">
        <h2 class="u-text-1">
          FORMULARIO ACTUALIZAR EQUIPOS 
        </h2>
        
        <div class="u-form">
          <form th:action="@{/Equipo/add}" th:object="${equipo}" method="post" class="u-inner-form" >
            
            <div class="u-form-group-1">
              <label form="nombre" class="u-label">Tipo </label>
              <input type="text" class="u-input" placeholder="Ingresa el nombre" id="Tipo" name="Tipo" th:field="*{Tipo}">
              <div class="form-text text-danger" th:if="${#fields.hasErrors('Tipo')}" th:errors="*{Tipo}"></div>
            </div>

            <div class="u-form-group-1">
              <label form="marca" class="u-label">Marca</label>
              <input type="text" placeholder="Ingresa la marca del equipo" class="u-input" id="marca" name="marca">
            </div>

            <div class="u-form-group-1"> 
              <label form="serie" class="u-label">Serie</label>
              <input type="text" placeholder="Ingresa el serial del equipo"  class="u-input" id="serie" name="serie">
            </div>

            <div class="u-form-group-1"> 
              <label form="documento.documento" class="u-label">Documento</label>
              <input type="text" placeholder="Ingresa el documento de la persona" class="u-input" id="documento.documento" name="documento.documento">
            </div>

            <div class="u-form-group-1"> 
              <label form="estado" class="u-label">Estado</label>
              <input class="form-check-input" type="checkbox" id="estado" name="estado" checked>
            </div>
            
              <button class="u-btn-submit2" type="submit">Enviar</button>
            
          </form>
          <button class="u-btn-submit"><a th:href="@{/Equipo/listar}">Volver al Listado</a></button>
        </div>
      </div>
    </section>
    
    
    <footer class="u-footer">
      <div class=" u-sheet-1">
      <br>
      <p class="u-text-3">W W W . s e n a . e d u . co</p>
      </div>
    </footer>
    </body>
</html>
