.u-footer {
    background-color: #39A900;
    background: linear-gradient(to bottom   , #8ae051, #39A900);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
  }