.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1250px;
    }
    
    .nav .btn button{
    font-weight: 700;
    background: #39A900;
    color: white;
    padding: 9px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    
    .nav .btn button:hover{
    transform: scale(1.01);
    border: 1px solid #39A900;
    color: black;
    background: white;
    }
    
    .nav-list{
    list-style: none;
    }
    
    .nav-list li{
    display: inline-block;
    padding: 0 20px;
    transition: 0.3s;
    }
    
    .nav-list li:hover{
    transform: scale(1.2)
    }
    
    .nav-list a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    }
    