<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/img/logo-de-Sena-sin-fondo-Blanco.png}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Formulario</title>
</head>    
    
    
  <body>
    <header class=" u-header">
          <img th:src="@{/img/logo-de-Sena-sin-fondo-Blanco.png}" class="u-logo-image">
          <p class="u-text-1">CENTRO DE GESTIÓN DE MERCADOS LOGÍSTICA Y TECNOLOGÍAS DE LA INFORMACIÓN</p>
    </header>

    <nav class="nav">
          <ul class="nav-list">
              <li><a th:href="@{/}" class="btn"><button>Volver</button></a></li>
          </ul>
          </nav>


    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs  -->
          <h2 class="active"> INICIAR SESION </h2>
          <!-- ICONO -->
          <div class="fadeIn first">
            <img src="https://img.freepik.com/vector-premium/ilustracion-concepto-inicio-sesion-seguro_251005-445.jpg" id="icon" alt="User Icon" />
          </div>
      
          <!-- FORMULARIO LOGIN -->
          <form th:action="@{/Usuario/validar/}" method="POST">
            <label for="Passwordd">Documento:</label><br>
            <input type="number" id="documento" name="documento"  class="fadeIn third"  placeholder="Documento">
            <!-- <input class="btn mt-4" type="submit" value="Entrar" > -->
            <br><br>
            <a class="btn2"><button>Entrar</button></a>
            <br><br>
          </form>

       

          

          <div id="formFooter">
            <a class="underlineHover" href="#">¿Olvido su Contraseña?</a>
          <!-- RECORDAR CONTRASEÑA -->
          </div>
      
        </div>


</div>


        
    <footer class="u-footer">
        <div class=" u-sheet-1">
        <br>
        <p class="u-text-3">W W W . s e n a . e d u . co</p>
        </div>
      </footer>
      </body>
  </html>