<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/nav.css}"> 
    <link rel="stylesheet" th:href="@{/css/header.css}"> 
    <link rel="stylesheet" th:href="@{/css/footer.css}"> 
    <link rel="stylesheet" th:href="@{/css/menu.css}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" th:href="@{/img/logo-de-Sena-sin-fondo-Blanco.png}">
    <title>LISTA</title>
</head>
<body>
<header class=" u-header">
          <img th:src="@{/img/logo-de-Sena-sin-fondo-Blanco.png}" class="u-logo-image">
        <p class="u-text-1">SMARTPARK</p>
    </header>

    <nav class="nav">
        <ul class="nav-list">
            <li><a th:href="@{/logout}" class="btn"><button>Cerrar sesión</button></a></li>
        </ul>
    </nav>
    
<section class="opciones">
    <div class="fila">
        <div class="division"><a th:href="@{/Usuario/listar}">USUARIOS</a></div>
        <div class="division"><a th:href="@{/Vehiculo/listar}">VEHICULOS</a></div>
    </div>
    <div class="fila">
        <div class="division"><a th:href="@{/Equipo/listar}">EQUIPOS</a></div>
        <div class="division"><a th:href="@{/Movimiento/listar}">MOVIMIENTOS</a></div>
    </div>
</section>

<script th:src="@{/js/menu.js}"></script>

    <footer class="u-footer">
        <div class=" u-sheet-1">
        <br>
        <p class="u-text-3">W W W . s e n a . e d u . co</p>
        </div>
      </footer>
</body>
</html>